<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
	<title>Clear Creek Zoo</title>
</head>
<body>
	<div id='menu' class='menu'>
		<h1 id='home'><a href='/'>Clear Creek Zoo</a></h1>
		<h3 class='nav'><a href='/'>Exhibits</a></h3>
		<h3 class='nav'><a href='/species'>Species</a></h3>
		<h3 class='nav'><a href='/animal'>Animals</a></h3>
		<h3 class='nav'><a href='/enrichment'>Enrichment</a></h3>
		<h3 class='nav'><a href='/employee'>Employees</a></h3>
		<h3 class='nav'><a href='/job'>Jobs</a></h3>
	</div>
	<div>
		<h3>SEARCH</h3>
		<form>
			<input type="text" name='terms' id='terms'>
			<button id='search'>Search</button>
		</form>
	</div>
	{{{body}}}
</body>
</html>